<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/aboutedit.css">
        <title>Editing</title>
    </head>
    <body>
        <div class="abouteditclass">
            <h3>About</h3>
            <form>
                <center>
                    <input type="text" id="abteditname" placeholder="Name" size="30px"><br>
                    <input type="text" id="abteditemail" placeholder="Email" size="30px"><br>
                    <input type="text" id="abteditdept" placeholder="Department" size="30px"><br>
                    <input type="text" id="abteditregno" placeholder="Register Number" size="30px"><br>
                    <input type="submit"id="abteditsubmit" size="30px">
                </center>
            </form>
        </div>

    </body>

</html>