<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/admin.css">
        <title>Handsup | Admin</title>
    </head>
    <body>
        <div class="main">
            <div class="header">
                <h3>Welcome to Handsup | Administrator Page</h3>
                <h3 id="log"><a href="/adminlogin">Login</a></h3>
                <h3 id=reg><a href="/adminregistration">Register</a></h3>
            </div>
            <div class="about">
                <h2>One platform for handling all crimes at Institute levels</h2>
               
            </div>
            
        </div>
    </body>
</html>