<!DOCTYPE html>
<html>
    <head>
        <script src="/static/adminworkspace.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/adminworkspace.css">
        <title> {{session.admin_email}}</title>
    </head>
    <body>
        <div class="main">
            <h3>Welcome {{session.admin_email}}</h3>
            <div class="list">
                
                <ul id="lm" onclick="listclick()">
                    {% for rw in complaindata %}
                 <li>
                      
                         Message from {{ rw.email }}
                      </li>
                    <br>
       

                    {% endfor %}
                </ul>
                

                
            </div>
        </div>
        <div class="about-model">
            <div class="about-model-box">
                            <div class="close" onclick="saveclose()">+</div>
                            
                           <div class="sent">
                               
                            {% for col in complains %}

                                 <b>Date</b> &nbsp; &nbsp; <input type="text" placeholder="Month" id="sentmonth" value=" {{col.date}}" readonly><br>
                                 <b>Subject </b> &nbsp; <input type="text" id="sentsub" value=" {{col.complainname}}" readonly><br>
                                 <div id="brief"><i>Brief</i></div>
                                 
                                 <textarea id="sentcont" readonly>{{col.message}}</textarea><br>
                                 <a href="/adminreply"><input type="submit" value="Reply" id="reply"></a>
                              {% endfor %}
                            </div></div></div>
       
    </body>
</html>

<!--<input type="text" placeholder="Year" id="sentyear">  <input type="text" placeholder="Date" id="sentdate">-->