<!DOCTYPE html>
<html>
    <head>
        <title>Add Complaint</title>
       
        <link rel="stylesheet" type="text/css" href="/static/clientcomplaint.css" >
    </head>
    <body>
        <h4>Add new complaint</h4>
        <div class="main">
         <div class="workspace">
           <form>
            <select id="month">
                <option>Select Month</option>
               <option>January</option>
               <option>Febuary</option>
               <option>March</option>
               <option>April</option>
               <option>May</option> 
               <option>June</option>
               <option>July</option>
               <option>August</option>
               <option>September</option>
               <option>October</option>
               <option>November</option>
               <option>December</option>
            </select>
            <select id="year">
                <option>Select Year</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option> 
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
            </select>
            <select id="date">
                <option>Select Date</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option> 
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option> <option>12</option> <option>13</option><option>14</option>
                <option>15</option><option>16</option><option>17</option><option>18</option><option>19</option>
                <option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                <option>25</option><option>26</option><option>27</option><option>28</option><option>29</option>
                <option>30</option><option>31</option>
            </select><br>
            <input type="text" placeholder="Subject" id="subject"><br>
            <h3>Write your complain</h3>
            <textarea id="textarea"></textarea>
            <div class="save_submit">
            <input type="submit" value="Save" id="save">
            <input type="submit" id="submit">
            </div>

               
           </form>
         </div>
        </div>
    </body>
</html>