<!DOCTYPE html>
<html>
    <head>
        {% for row in complaindata %}
        <title>{{row.email}}</title>
        {% endfor %}
        <link rel="stylesheet" type="text/css" href="/static/complainbox.css">
        <script src="/static/complainbox.js"></script>
    </head>
    <body>
       <div class="row">
           <div class="column1">

            <div class="sent">
                           {% for row in complaindata %}
                           <div class="details">
                           <b>Date</b>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" placeholder="Month" id="sentmonth" value="{{row.date}}" readonly><br>
                             <b>Subject </b> &nbsp; <input type="text" id="sentsub" value="{{row.complainname}}" readonly><br>
                             <div id="brief"><i>Brief</i></div>
                             <textarea id="sentcont" value=""readonly> {{row.message}}</textarea><br>
                             </div>
                             <div class="rep-del">
                             <input type="submit" value="Reply" onclick="reply()" id="reply"></a>
                             
                             {% endfor %}
                        <div class="rep-del">
                            
                          
                <!--   <form action="/delete/" method="POST">
                      <input type="submit" value="Delete" name="" id="delete">
                      </form> --> 
                    </div>
                </div></div>
          
   
               </div>
                        <div class="column2">
                        <div id="profile-info">
                        
                         <h3>Profile Information</h3>
                         {% for val in users %} 
                         <div class="pro-main">
                         <h3 id="email-id"><font color="indigo">Email:&nbsp;&nbsp;&nbsp;</font>{{ val.email }}</h3>
                         <h3 id="comp-id"><font color="indigo">Complain ID:</font>&nbsp;&nbsp;&nbsp;{{ val.id }}</h3>
                         <h3 id="reg-id"><font color="indigo">Registration ID: </font>{{ val.regno }}</h3>
                         
                         </div>
                          {% endfor %}
                        </div>
                      <div class="comp-reply">
                       
                        <div class="repsent">
                          
                          <form action="/adminreply" method="POST"> 
                           
                               
                          <input type="text" name="rep_date" placeholder="Date" id="repsentmonth"><input type="text" name="rep_month" placeholder="Month" id="repsentyear">  <input type="text" name="rep_year" placeholder="Year" id="repsentdate"><br>
                          <input type="text" name="rep_subject" placeholder="Subject" id="repsentsub"><br>
                         <textarea id="repsentcont" name="rep_message" placeholder="Message"></textarea><br>
                         <input type="submit" value="Send" id="sending"><input type="button" class="close" onclick="saveclose()" value="Back">
                         </form>
                   </div>
                      </div>






                        </div>
                        </div>
                           
                       
                           
                           
                        
                        
                    
       
    </body>
</html>