<html>
    <head>
        <title>HandsUp</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script src="/static/index.js"></script>
        <style>
            
        </style>
    </head>
    <body>
        <div class="header">
            <h4>Hands Up - Crime Portal Management System</h4>
        </div>
        <div class="main">
           <div class="col1">
            <div class="innerbox1">
                <h2>About</h2>
                HandsUp is an online crime portal management system highly 
                helpful to handle all the crimes and illegal activities raised among any individual at their institute.
            </div><br>
            
            <div class="innerbox2" ><h2>Why ?</h2>
              Crimes are raised in day by day. It is not only happened in cities or villages also happened in 
              all institutions for women and men. The main reason is that no one have guts to 
              complain to any one regarding their problems. So to overcome that problem it is good to 
              have this portal system.
          </div>
          <div class="innerbox3" ><h2>The Right Place</h2>
              This is the right place for all students and faculties to complain their problems 
              and make their life freedom. This is the right place for all to ensure their freedom in their working place.
          </div></div>
        
           <div class="col2">
                <div class="log">
                     <div id="signin"> <a href="/userlogin">Signin</div>
                    <div id="signup"> <a href="/userregistration">Signup</div>
                </div>
           </div>
        </div>
    </body>
</html>

 