<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{session.u_name}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div class="header">
            <h3>
                Hi {{session.u_name}} !  <a href="#" onclick="mainnavbar()"><i class="fa fa-bars"></i></a>
            </h3>
        </div>
      
       <div class="row">
         
                <div class="column1">
                <h3 id="add-complain" onclick="displayaddcomplain()">Add Complaint</h3>      
                <h3 id="sent-items" onclick="displaysentitems()">Sent Items</h3>  
                <h3 id="recieved-items" onclick="displayrecievedsitems()">Recieved Items</h3>          
                </div>
                <div class="column2">


                   
                    <div class="image" onclick="imageclose()">
                        &nbsp;
                       
                        <div class="nav-bar">
                            <h3 id="profile"><a href="/profile">Profile</a></h3>
                            <h3 id="settings">Settings</h3>
                            <h3 id="logout"><a href="/userlogout">Logout</a></h3>
                        </div>
                    </div>
                  
                    <div class="add-complain" >
                        <h3>Post your complaints</h3>
                        <div id="cancel" onclick="displayclose()">x</div>
                         <form action="/complain" method="POST" id="form">
                             <input type="text" id="comp-date" name="complaint_name" placeholder="complain name"> <br>
                             <input type="text" id="comp-date" name="student_mail" placeholder="Type your mail Id"><br>
                             <textarea name="complaint_msg" id="comp-text" placeholder="Type your complain here"></textarea></textarea> <br>
                             <input type="date" id="comp-date" name="complaint_date">
                             <input type="submit" id="submit" value="Send">
                            </form>
                     </div>

                     <div class="sent-items" >
                        <h3> Sent Lists</h3>
                        <div id="sent-cancel" onclick="displayclose()">x</div>
                        <ul>
                            <li>  
                               <div class="sentlist">
                               <b>Date:</b> <br>
                                <b>Complain Name:</b><br>
                                <b>Message:</b><br>
                               </div>
                             </ul>
                        </div>

                        <div class="recieved-items" >
                           <h3> Recieved Lists</h3>
                            <div id="sent-cancel" onclick="displayclose()">x</div>
                            <ul>
                                <li>  
                                   <div class="recievedlist">
                                   <b>Date:</b> <br>
                                    <b>From:</b><br>
                                    <b>Message:</b><br>
                                   </div>
                                   </li>
                                 </ul>
                            </div>
                        </div>
                    </div>
           </div>
          
       
       

        <!--
                    <div class="about-model">
           
            <div class="about-model-box">
              
                            <div class="close" onclick="closing()">+</div>
                            <div id="abtplus"><a href="/aboutedit">+</a></div>
                              
                                <div class="aboutform">
                                
                                <input type="text" size="20px" id="abtname"  ><br>
                             <input type="text" size="20px" id="abtreg"  ><br>
                                
                                     <input type="text" size="20px"  id="abtdept" ><br>
                             <input type="text" size="20px" id="abtclg" ><br>
                             <input type="text" size="20px"  id="abtbatch" ><br>
                             
                            </div>

                            </div>
                        </div>
        
   <!--     <div class="addcomplain-model">
        <div class="addcomplain-model-box">
         <div class="close" onclick="closing()">+</div>
           <div id="abtplus"><a href="aboutedit.html">+</a></div>
             <form id="about-form" method="post" action="#">
               <div class="aboutform">
             <input type="text" size="20px" id="abtname"  ><br>
            <input type="text" size="20px" id="abtreg"  ><br>
            <input type="text" size="20px"  id="abtdept" ><br>
            <input type="text" size="20px" id="abtclg" ><br>
            <input type="text" size="20px"  id="abtbatch" ><br>                                     
            </div></form>                                                                       
             </div></div>
            -->     
   


              



                
   








       
            
            

   
    </body>
</html>