<!DOCTYPE html>
<html>
    <head>
        <title>{{session.u_name}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='settings.css')}}">
    </head>
    <body>
        <div class="row">
       
        <div class="col1">
            <div class="main">
                <h3 id="themes">Themes</h3>
                <h3 id="help">Help</h3>
                <h3 id="contact">Contact</h3>
            </div>
        </div>
        <div class="col2">

        </div>

        </div>
    </body>
</html>