<!DOCTYPE html>
<html>
    <head>
        <script src="/static/adminworkspace.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/adminworkspace.css">
        <title> {{session.admin_email}}</title>
    </head>
    <body>
        <div class="main">
            <h3>Welcome {{session.admin_email}}</h3>
            <div class="logout"><a href="/adminlogout">Signout</a></div>
            <div class="list">
                
                <ul id="lm" onclick="listclick()">
                    {% for rw in complaindata %}
                     <li><a href="/complains/{{rw.id}}">
                      
                         Message from {{ rw.email }} 

  

                      
                      
                        </li>
                    <br>
       

                    {% endfor %}
                </ul>
                

                
            </div>
        </div>
    
    </body>
</html>

<!--<input type="text" placeholder="Year" id="sentyear">  <input type="text" placeholder="Date" id="sentdate">-->