body{
    background-color: rgba(179, 36, 55, 0.562);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.abouteditclass{
    margin-top: 100px;
    background-color: #dd4545b9;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
.abouteditclass h3{
    text-align: center;
    color:white;
}
#abteditname {
    width:300px;
    height:30px;
    border-radius: 5px;
}
#abteditregno{
   width:300px;
   height:30px;
   margin-top: 10px;
   border-radius: 5px;
}
#abteditemail{
    width:300px;
   height:30px;
   margin-top: 10px;
   border-radius: 5px;
}
#abteditdept{
    width:300px;
   height:30px;
   margin-top: 10px;
   border-radius: 5px;
}
#abteditsubmit{
    width:100px;
    height:30px;
    margin-top: 10px;
    background-color: rgb(14, 92, 14);
    color:white;
    cursor: pointer;
    
}