body{
    background-image: url("./images/admin.png");
    background-position: cover;
}

.header{
    display: inline-flex;
    background-color: rgb(36, 24, 44);
    color:white;
    padding-right:150px;
    border-radius: 10px;
    
}
.header h3{
    margin-left:50px;
}
#log{
    margin-left:800px;
}
.header a{
    text-decoration: none;
    color:white;
}
.about{
margin-left: 50px;
background-color: rgba(241, 55, 55, 0.719);
margin-right:250px;
border-radius: 10px;
padding-bottom: 50px;
padding-left:20px;
padding-top: 20px;
margin-top: 50px;
color:white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about h3{
    margin-left: 10px;
    color:rgb(229, 255, 0);
}