.column1 {
    float:left;
    width:700px;
    padding-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgba(207, 165, 182, 0.575);
    height:710px; /* Should be removed. Only for demonstration */
  }
  .column2 {
      float: right;
    width:750px;
    padding: 10px;
    height:690px;
   background-color: rgb(183, 182, 212);
   color:white;
    background-size:cover;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
a{
    text-decoration: none;
}
.details{
    margin-left: 30px;
}
#sentdate{
    width:150px;
    height:30px;
    margin-right: 335px;
    color: indigo;
    border-radius: 5px;
}
#brief{
    margin-right: 530px;
    margin-top: 10px;
}
#sentsub{
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 15px;
    width:400px;
    height:30px;
    border-radius: 5px;
}
#sentcont{
    border-radius: 5px;
    margin-top: 20px;
    width:570px;
    height:250px;
}
textarea{
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding:10px 10px 0px 10px;
}
#reply{
    background-color:indigo;
    width:150px;
    height:50px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 150px;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor:pointer;
}
#reply:hover{
    background-color: rgba(6, 6, 68, 0.493);
}
#profile-info{
      margin-left: 130px;
      width:500px;
      background-color: white;
      height: 500px;
      color:  rgb(72, 74, 185);
      margin-right: 200px;
      border-radius: 10px;
      text-align: center;
      margin-top: 20px; padding-top: 10px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
     #profile-info h3{
        background-color: rgba(255, 166, 0, 0.418);
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
    .pro-main{
        background-color: rgba(114, 114, 201, 0.24);
        margin-left: 10px;margin-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pro-main h3{
        background-color:rgb(255, 255, 255);
        color: white;
    }
    .rep-del{
        display: inline-flex;
    }
    #comp-id{
        padding-right: 200px;
    }
    #email-id{
        padding-right: 90px;
    }
    #reg-id{
        padding-right: 120px;
    }
    .comp-reply{
        display: none;
       
    }
    .sent{
        padding-top: 50px;
    }
    .col1-close{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 20px;
        background-color: rgb(138, 76, 47);
        color:white;
        font-size: 18px;
        margin-left:30px;
        width:150px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
    }
    .col1-close:hover{
        background-color: rgba(8, 8, 43, 0.267);
    }
   
    .col2-close{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(38, 24, 75);
        color:white;
        font-size: 18px;
        margin-left:30px;
        margin-top: 30px;
        width:150px;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
    }
    .col2-close:hover{
        background-color: rgba(8, 8, 43, 0.267);
    }
    form{
        padding-top:30px;
        margin-left: 100px;
        border-color: black;
    }
    #repsentmonth{
        border-color: rgb(241, 27, 27);
        width:150px;
        height:30px;
        border-radius: 5px;
    }
    #repsentyear{
        border-color: rgb(241, 27, 27);
        width:150px;
        height:30px;
        margin-left:50px;
        border-radius: 5px;
    }
    #repsentdate{
        border-color: rgb(241, 27, 27);
        width:150px;
        height:30px;
        margin-left:50px;
        border-radius: 5px;
    }
    #repsentsub{
        border-radius: 5px;
        border-color: rgb(241, 27, 27);
        margin-top: 20px;
        width:570px;
        height:30px;
    }
    #repsentcont{
        border-radius: 5px;
        border-color: rgb(241, 27, 27);
        margin-top: 20px;
        width:570px;
        height:250px;
    }
    #sending{
        margin-top: 50px;
        background-color: rgba(99, 12, 19, 0.596);
        color:white;
        font-size: 18px;
        margin-left:150px;
        width:150px;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
    }
    #sending:hover{
        background-color: blue;
        color:white;
    }
    