body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(226, 239, 240, 0.959);
}
.header{
    width:1512px;
    
    background-color:rgba(87, 180, 99, 0.616);
    color:white;
    display: inline-flex;
}
.head-flex{
    display: inline-flex;
}
.sent-flex{
    display: inline-flex;
    
}
.recieve-flex{
    display: inline-flex;
}
.close{
    position: relative;
    top:0;
    
    font-size:42px;
    transform:rotate(45deg);
    cursor: pointer;
    
}
i{
    margin-left:1200px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
.nav-bar{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(225, 248, 245);
    width:230px;
    height: 250px;
    padding-top: 30px;
    margin-left: 480px;
    margin-top:0px;
    margin-bottom: 10px;
    border-radius: 10px;
   display: none;
   
}
.nav-bar h3{
    text-align: center;
}
#profile{
    background-color: rgba(0, 0, 255, 0.411);
    color: white;
    height:30px ;
    padding-top: 10px;
    width: 160px;
    margin-left: 35px;
    border-radius: 5px;
    border-color: maroon;
    border-width: thick;
    cursor: pointer;
}
#profile:hover{
    background-color: rgba(195, 0, 255, 0.26);
    color:maroon;
    border-width: thick;
   
}
#settings{
    background-color: rgba(0, 0, 255, 0.411);
    color: white;
    height:30px ;
    padding-top: 10px;
    width: 160px;
    margin-left: 35px;
    border-radius: 5px;
    border-color: maroon;
    border-width: thick;
    cursor: pointer;
}
#settings:hover{
    background-color: rgba(195, 0, 255, 0.26);
    color:maroon;
    border-width: thick;
   
}
#logout{
    background-color: rgba(0, 0, 255, 0.411);
    color: white;
    height:30px ;
    padding-top: 10px;
    width: 160px;
    margin-left: 35px;
    border-radius: 5px;
    border-color: maroon;
    border-width: thick;
    cursor: pointer;
}
#logout:hover{
    background-color: rgba(195, 0, 255, 0.26);
    color:maroon;
    border-width: thick;
   
}
.header h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
}
#about{
    margin-left:350px;
    margin-top: 70px;
    padding-left: 20px;
    padding-top: 20px;
    width:300px;
    height:100px;
    background-color: rgb(212, 212, 84);
    border-radius: 10px;
    color:black;
    cursor: pointer;
}
#about h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#about:hover{
    background-color:rgba(139, 144, 214, 0.664);
    color:black;
}
   
#sent{
    margin-left:350px;
    margin-top:30px;
    padding-left: 20px;
    padding-top: 20px;
    width:300px;
    height:100px;
    background-color: rgba(99, 76, 143, 0.726);
    border-radius: 10px;
    color:rgb(140, 211, 187);
    cursor:pointer;
}
#sent h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#sent:hover{
    background-color:rgba(241, 164, 76, 0.664);
    color:black;
}
#save{
    margin-left:350px;
    margin-top:30px;
    padding-left: 20px;
    padding-top: 20px;
    width:300px;
    height:100px;
    background-color: rgba(190, 41, 48, 0.726);
    border-radius: 10px;
    color:rgb(140, 211, 187);
    cursor:pointer;
}
#save h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#save:hover{
    background-color:rgba(94, 64, 30, 0.664);
    color:black;
}
#recieve{
    margin-left:350px;
    margin-top:30px;
    padding-left: 20px;
    padding-top: 20px;
    width:300px;
    height:100px;
    background-color: rgba(16, 22, 43, 0.726);
    border-radius: 10px;
    color:rgb(166, 241, 225);
    cursor: pointer;

}
#recieve h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#recieve:hover{
    background-color:rgba(243, 45, 78, 0.664);
}
#notify{
    margin-left:350px;
    margin-top:30px;
    padding-left: 20px;
    padding-top: 20px;
    width:300px;
    height:100px;
    background-color: rgba(179, 55, 55, 0.637);
    border-radius: 10px;
    color:rgb(166, 241, 225);
    cursor: pointer;
}
#notify:hover{
    background-color:rgba(37, 37, 189, 0.664);
}
#notify h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.column1 {
    float: left;
    width:750px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(81, 218, 236, 0.329);
   text-align: center;
    height:700px; /* Should be removed. Only for demonstration */
    background-image:url('/static/images/complain.jpg');
    background-size:cover;
  }
.column2{
    background-color: rgba(0, 255, 242, 0.589);
    float: right;
    width:730px;
    height:700px;
    margin-top: 10px;

    /* Should be removed. Only for demonstration */
  }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .image{
      display: block;
    background-size:cover;

    height:720px;
    background-image:url('/static/images/grievance.png');
  }

#comp-date{
    width:500px;
    border-radius: 10px;
    height:35px;
    margin-top: 20px;
}
#code{
    width:350px;
    border-radius: 10px;
    height:39px;
    margin-top: 20px;
    padding-left: 20px;
}
#code-but{
    width:80px;
    height:35px; 
    padding-top: 5px;
        background-color: rgba(31, 116, 94, 0.5); 
    cursor: pointer;  
    
}
#code-but:hover{
    background-color: rgba(31, 116, 93, 0.685);
}
textarea{
    height: 60px;
    width:500px;
   
    margin-top: 20px;
    border-radius: 10px;
}
#comp-date::placeholder{
    padding-left: 20px;
}
textarea::placeholder{
    padding-left: 20px;
}
#submit{
    width:200px;
    margin-left: 150px;
    margin-top: 50px;
    height: 30px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#cancel{
    margin-left:10px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    width: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#cancel:hover{
    background-color: rgba(0, 0, 0, 0.37);
    transition: 0s;
}
#sent-cancel{
    margin-left: 630px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    width: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.recieved-cancel{
    margin-left: 350px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    width: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#rec{
    display: inline-flex;
}
#sent-cancel:hover{
    background-color: rgba(0, 0, 0, 0.37);
    transition: 0s;
}

#add-complain{
    width: 400px;
    margin-left: 150px;
    padding-top: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: maroon;
    color:white;
    cursor: pointer;
    margin-top:30px;    
}


#sent-items{
    width: 400px;
    margin-top:30px;
    margin-left: 150px;
    padding-top: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(45, 0, 128);
    color:white;
    cursor: pointer;
}
#recieved-items{
    width: 400px;
    margin-top:30px;
    margin-left: 150px;
    padding-top: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(179, 154, 44);
    color:white;
    cursor: pointer;
}
.add-complain{
    display: none;
   
        margin-left:120px;
        margin-top: 50px;
    
}
.sent-items{
       
        display: none;
        margin-left:10px;
        margin-top: 10px;
    
}
.sentlist{
    
    background-color: white;
    height:60px;
    margin-right: 50px;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    color:rgb(75, 10, 10);
    
}
.sentlist:hover{
    background-color: rgba(131, 140, 223, 0.568);
    border-color: rgb(27, 11, 39);
    border-width: 30px;
    color:white;
    transition: 1ms;

}


.recieved-items{
       
    display: none;
    margin-left:10px;
    margin-top: 10px;
    

}
div.recieved {
    background-color: lightblue;
    width: 710px;
    height: 600px;
    overflow: auto;
  }
  div.sent {
    background-color: lightblue;
    width: 710px;
    height: 600px;
    overflow: auto;
  }
.recievedlist{
background-color: white;
height:60px;
padding-top: 20px;
margin-right: 50px;
padding-left: 30px;
padding-right: 30px;
cursor: pointer;
border-radius: 10px;
font-size: 16px;
color:rgb(75, 10, 10);

}
.recievedlist:hover{
background-color: rgba(131, 156, 223, 0.527);
border-color: rgb(27, 11, 39);
border-width: 30px;
color:white;
transition: 1ms;

}
.recieved-items h3{
    margin-left: 50px;
    background-color: rgb(31, 8, 48);
    color:white;
    width:500px;
    height: 30px;
    padding-left: 30px;
    border-radius: 5px;
}
.sent-items h3{
    margin-left: 50px;
    background-color: rgb(136, 44, 67);
    color:white;
    width:500px;
    height: 30px;
    padding-left: 30px;
    border-radius: 5px;
}
.add-complain h3{
margin-right: 50px;
    background-color: rgb(24, 25, 104);
    color:white;
    width:400px;
    height: 30px;
    padding-left: 30px;
    border-radius: 5px;
}
.buttonIn {
    width: 300px;
    position: relative;
}
input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
}
.buttonIn h3{
    
        position: absolute;
        top: 0;
        border-radius: 5px;
        left: 380px;
        z-index: 1;
        border: none;
    
        top: 5px;
        height: 30px;
        cursor: pointer;
        color: white;
        background-color: #1e90ff;
        transform: translateX(5px);
    
}
#recieve-delete{
    margin-left: 350px;
}
.recieved-items ul li a{
    color:black;
}
#navbar{
    margin-left: 90px;
}
.proof{
    margin-top: 10px;
    display: inline-flex;
}
#file{
    margin-left: 20px;
}