<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/aboutedit.css">
        <title>Editing</title>
    </head>
    <body>
        <div class="abouteditclass">
            <h3>About</h3>
            <form action="/aboutedit" method="POST">
                <center>
                    <input type="text" id="abteditname" placeholder="Name" name="name" size="30px"><br>
                    <input type="text" id="abteditemail" placeholder="Email" name="email" size="30px"><br>
                    <input type="text" id="abteditdept" placeholder="Department"name="dept" size="30px"><br>
                    <input type="text" id="abteditregno" placeholder="Register Number" name="regno" size="30px"><br>
                    <input type="submit"id="abteditsubmit" size="30px">
                </center>
            </form>
        </div>

    </body>

</html>