<html>
    <head>
        <title>HandsUp</title>
        <link rel="stylesheet" href="/static/ind.css" type="text/css">
        <script src="/static/index.js"></script>
        <style>
            
        </style>
    </head>
    <body>
        <header>
        <div class="header">
            <h3>Hands Up - Crime Portal System
                <h4 id="student">Student</h4>
                <h4 id="admin">Admin</h4>
            </h3>
        </div></header>
        <div class="main">
            <div class="col1">
           <div class="welcome"><h1 id="welcome-title"><font color="indigo">Welcome to Hands Up </font></h1> 
            <h3><font color="green">A place to solution...</font></h3></div>
            
        </div>
        <div class="col2"></div>
        </div>
        <div class="about">
            
        </div>



        



    </body>
</html>

 