<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{session.u_name}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div class="header">
            {% for i in user %}
            <h3>
                Hi {{i.name}} !  <a href="#" onclick="mainnavbar()"><i class="fa fa-bars"></i></a>
            </h3>
            {% endfor %}
        </div>
        <div class="row">
                <div class="column1">
                <h3 id="add-complain" onclick="displayaddcomplain()">Add Complaint</h3>      
                <h3 id="sent-items" onclick="displaysentitems()">Sent Items</h3>  
                <h3 id="recieved-items" onclick="displayrecievedsitems()">Recieved Items</h3>          
                </div>
                <div class="column2">
                <div class="image" onclick="imageclose()">
                        &nbsp;
                       
                        <div class="nav-bar">
                            <h3 id="profile"><a href="/profile">Profile</a></h3>
                            <h3 id="settings"><a href="/usersettings">Guidelines</a></h3>
                            <h3 id="logout"><a href="/userlogout">Logout</a></h3>
                        </div>
                    </div>
                  
                    <div class="add-complain" >
                        <h3>Post your complaints</h3>
                        <div id="cancel" onclick="displayclose()">x</div>
                         <form action="/complain" method="POST" id="form">
                        
                             <input type="text" id="comp-date" name="complaint_name" placeholder="complain name" required> <br>
                             <input type="text" id="comp-date" name="student_mail" placeholder="Type your mail Id" required><br>
                             <input type="text" id="comp-date" name="student_regno" placeholder="Registration Number" required><br>
                             
                             <div class="buttonIn">
                                <input type="text" id="code" name="complaint_id" placeholder=" Click button to generate unique code" readonly required>
                                <h3 id="code-but" onclick="codegenerator()">Click</h3>
                            </div>
                             <textarea name="complaint_msg" id="comp-text" placeholder="Type your complain here" required></textarea></textarea> <br>
                             <input type="date" id="comp-date" name="complaint_date" required>
                             <input type="submit" id="submit" value="Send">
                     
                             
                            </form>
                     </div>

                     <div class="sent-items" >
                        <h3> Sent Lists</h3>
                        <div id="sent-cancel" onclick="displayclose()">x</div>
                        <div class="sent" >
                            {% for row in usercomplain %}
                        <ul>
                            <li>  
                               <div class="sentlist">
                               <b>Date:</b> {{row.date}} <br>
                                <b>Complain Name:</b> {{row.complainname}}</b><br>
                                <b>Message:</b> {{row.message}}<br>
                               </div>
                               </li><br>
                               
                                
                                    
                             </ul>
                             {% endfor %}
                             </div>
                        </div>

                        <div class="recieved-items" >
                           <h3> Recieved Lists</h3>
                           <div id="sent-cancel" onclick="displayclose()">x</div>
                           <div class="recieved" >
                            {% for row in adminreply %}
                           
                           <ul>
                           
                           
                             <li>
                                {% for i in recieveid %}
                                <a href="/recievelist/{{i.id}}">
                                   <div class="recievedlist">
                                
                                   
                                   <b>Date:</b> {{row.date}} <br>
                                    
                                    <b>Subject:</b> {{row.subject}}<br>
                                    <b>Message:</b> {{row.message}}<br>
                                   
                                    
                                   </div> {% endfor %} 
                                 </li></a>
                                <br> 
                                 
                                   
                               
                                 </ul> 
                                
                                 
                                 {% endfor %}
                           </div>
                            </div>
                       
                    </div>
           </div>
         </body>
</html>